<div class="d-flex flex-column m-4">
  <div style="border-bottom: 1px solid #e4e2de;">
    <div class="gradient-text">
      <h1>Learn, Cook, Eat Your Food</h1>
    </div>
    <div class="d-flex flex-wrap">
      <a class="notSelected" [routerLink]="['all']" routerLinkActive="selected" (click)="selectCategory('')">All</a>
      @for (cat of cats; track $index) {
        <a class="notSelected" [routerLink]="['category/', cat.strCategory]" routerLinkActive="selected" (click)="selectCategory(cat.strCategory)">
          {{ cat.strCategory }}
        </a>
      }
    </div>
  </div>
  <app-meal [category]="selected"></app-meal>
</div>
